<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/images/huitlogo.png">

    <title>HUIT</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/articles.css">

  </head>

  <body class="text-center">
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <div class="masthead-brand"><img alt="huit logo" src="images/huitlogo.png" width="100em" height="100em"/></div>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="/articles">Articles</a>
            <a class="nav-link" href="#">Q&A</a>
          </nav>
        </div>

      </header>

      <main role="main" class="inner cover"> 
          
      </main>


      <footer class="mastfoot mt-auto">
          <div class="inner">
              <p>Developed by GreenWeb team @ huitclub</p>
          </div>
      </footer>

    </div>

  </body>
</html>
